@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #23410A;
    --secondary-color: #F7F7F7;
    --tertiary-color: #F49B3F;
    --text-color: #333333;
    --supplementary-color: #EB8E78;
    --white: #FFFFFF;
}

*{
    /* box-sizing: border-box; */
}

body {
    font-family: 'Work Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    z-index: 5;
}

.logo,
.home-text,
a {
    font-family: 'Open Sans', sans-serif;
}

.main {
    background: url('../images/main-bg.jpg');
}

.landing-section {
    background: url('../images/home-bg.png') no-repeat center center/cover;
    height: 100vh;
}

.home-title {
    font-weight: 700;
    /* font-size: 3.5rem; */
    font-size: calc(1.75rem + 2vw);
    max-width: 450px;
    opacity: .9;
}

.search-form {
    max-width: 400px;
}

.search-form,
.btn-search {
    border-radius: 10px;
}

.btn-search {
    background-color: var(--tertiary-color);
}

.plate-img {
    width: 90%;
    z-index: 1;
}

.dot-box {
    /* top: 0px; */
    /* z-index: -1; */
}

.plate-box {
}

.card {
    border-radius: 15px;
    background: var(--secondary-color);
}

.favourites-card {
    transition: background .1s ease-in-out, scale .1s ease-in-out;    
}

.favourites-card-img {
    width: 40%;    
}

.favourites-card:hover {
    background: var(--tertiary-color);
    color: var(--white);
    transform: scale(1.01);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.favourites-card:hover .text-black-50 {
    /* background-color: var(--tertiary-color); */
    color: var(--white) !important;
}

.favourites-food {
    font-size: calc(1.2rem + .1vw);
}

.qty-circle {
    width: 40px;
    height: 40px;
}

.card-circle {
    padding-top: 100%;
}

.resturants-card {
    color: var(--text-color);
}

.rating-box {
    background: var(--supplementary-color);
    border-radius: 7px;
}

.resturants-name {
    font-weight: 700;
}

.meal-name {
    opacity: .5;
}

.footer {
    background: var(--primary-color);
}

.footer-intro {
    max-width: 350px;
}

@media (min-width: 1200px){
    .home-title {
        font-size: 3.4rem;
    }
}